.navbar-inner .navbar-inverse .navbar-fixed-bottom{
	background-color: #34495e;
}

.uppernav{
	padding-top: 8px;
	font-size: 25px;
}

.contents{
	padding-bottom: 60px;
}

.eventStructure{
	margin-left: 100px;
}

.app{
	margin-right: 50px;
	margin-left: 50px;
}

.todo-search{
	background-color: #BDC3C7;
	color: #16A085;
	width: 500px;
	float: right;
	margin-top: 200px;
	  border-radius: 0 6px 6px 0;
}

.events{
	background-color: #ECF0F1;
	color: #2C3E50;
}

.evnt{
	float: left;
	margin-right: 30px;
}

.date{
	float: left;
	margin: 20px;
	text-align: left;
	padding-left: 15px;
	width: 100%;
}

ul{
	margin-right: 25px;
}

.evnt:hover{
    background-color: #4e6d8d;
    color: white;
}
